

*, *::after, *::before {
	box-sizing: border-box;
}


.box {

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
  list-style: none;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-flex-flow: row wrap;

}


.box-item {

	-webkit-flex: 1 1 18em;
	-ms-flex: 1 1 18em;
	flex: 1 1 10em;
	padding: 0 1rem;

}

.logo{
	position: fixed;
	top: 0;
	left: 0;
	z-index:2;
}

.navigation {
	background: rgba(240, 240, 240, 0.9);
	width:100%;
	margin: 0;
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}

@media (min-width: 50.26rem){

	.event-item h3{
		line-height: 2rem;
	}
}

@media (max-width: 600px) {
	.intro p {
		padding: 0 1rem 0 1rem;
	}
}

@media (max-width: 710px) {

    .catalogue-icon {
			width: 50%;
			transform: scale(0.8, 0.8);
		}

		#catalogue img {
    padding: 1rem;
		}
}

@media (max-width: 345px) {

	.catalogue-icon {
		width: 85%;
		transform: scale(0.7, 0.7);    /*source: https://www.w3schools.com/cssref/css3_pr_transform.asp*/
	}

}

@media (max-width: 50.25rem) {
    .col-1, .col-2, input[type=submit], .profile-right {
        width: 100%;
        margin-top: 0;
    }

		.about-item, .about-description, .profile-left{
			width: 95%;
			font-size: 0.9rem;
		}

		.about-item img{
			width: 40%;
		}

		.event-description{
			font-size: 0.85rem;
			margin: 5rem auto 1rem auto;
		}

		.event-description h3{
			margin: 4rem 1rem 2rem 1rem;
			font-size: 1rem;
		}

		.event-item{
			width: 90%;
		}
		.event-item h3{
			line-height: 2.5rem;
			font-size: 1.25rem;
		}

		.event-container h2{
			font-size: 2rem;
			justify-content: center;
			margin: 3rem;
		}

		.navigation-item{
			width: 15%;
		}

		.profile-left, .profile-right{
			width: 70%;
			text-align: center;
			padding: 1rem;
			margin: 0 auto;
		}

		.profile-left img{
			width:80%;
		}

		.saved-item{
			width: 40%;
			padding: 1rem;
			margin: 0 auto;
		}

		.saved-description{
			margin: 2rem auto;
		}

		.contact-item1{
			margin-top: 5rem;
		}

		.contact-item1, .contact-item2{
			width: 100%;
			padding: 1rem;
		}

	}

@media (max-width: 30rem){

	.about-item, .about-description{
		width: 100%;
		font-size: 0.8rem;
		padding: 0.9rem;
	}

	.about-item img{
		width: 60%;
		margin: 0.5rem auto;
	}

	.about-item h3{
		margin-top: 8rem;
		font-size: 1rem;
	}

	.event-item{
		width: 100%;
		margin: 0;
		padding: 2rem;
		font-size: 0.8rem;
	}

	.event-description h3{
		margin: 9rem 1rem 2rem 1rem;
		font-size: 1rem;
	}

	.navigation-item{
		width: 100%;
		font-size: 0.75rem;
		}

	.profile-left, .profile-right{
		width: 100%;
		text-align: center;
		padding: 1rem;
		margin: 0 auto;
	}

	.saved-item{
		width: 80%;
		padding: 1rem;
		margin: 0 auto;
	}

	.saved-description{
		margin: 2rem auto;
	}

	.contact-item1{
		margin-top: 14rem;
	}

	.contact-item1, .contact-item2{
		width: 100%;
		padding: 0;
	}

	.thanks-item{
		margin: 11rem 0 0 0;
		font-size: 1rem;
		padding: 0;
	}

}

.profile-container {
  padding: 0 2rem;
  margin:  0;
	list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.saved-container {
  padding: 0 2rem;
  margin: 0;
	list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}

/*Adapted from: https://codepen.io/nxworld/pen/ZYNOBZ*/
.saved-item img{
	width: 100%;
-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.saved-item img:hover {
	background: rgb(240, 240, 240);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

.contact-container {
  padding: 0 2rem;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;


}

.event-description, .about-description{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: center;
}

.event-container {
  padding: 0;
  margin: 3rem 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.about-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.thanks-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}


.footer-container {
	list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
	bottom: 0;
	left: 0;
}
