
body {
	font-family: 'Open Sans', Verdana, sans-serif;
	margin: 0;
	font-size: 1.25rem;
}

html {
		 scroll-behavior: smooth;
	 }   /* adapted from: https://stackoverflow.com/questions/17631417/css-pure-css-scroll-animation/17633941#17633941*/

h1 {
	font-size: 3rem;
  color: white;
	background-color: #5dc5c5;
	margin: 0;
	padding: 1rem 0 0 1rem;
}

h2 {
	font-size: 2.25rem;
	margin-bottom: 0;
	width: 100%;
}

h3 {
	font-size: 1rem;
	margin-bottom: 0;
}


img {
	height: auto;
	max-width: 100%;
	border: none;
}

figure {
	margin: 0;
}

figcaption {
	font-size: 0.8rem;
}

a {
	color: rgb(0,0,200);
	transition: color 0.5s;
	text-decoration: none;
}

a:active, a:hover, a:focus {
	color: rgb(0,0,70);
	text-decoration: none;
}

.intro {
text-align: center;
margin-top: 5rem;
padding: 4rem;
margin-bottom: 6.5rem;
}

.intro p {
	padding: 0 5rem 0 5rem;

}

@media all and (max-width: 600px) {
	.intro p {
		padding: 0 1rem 0 1rem;
	}
}

textarea {
	height: 25rem;
}

.begin {
	text-align: center;
	margin-bottom: 1rem;

}

.begin p {
	color: black;
	font-size: 1.7rem;
}

/*adapted from: https://www.w3schools.com/css/css3_animations.asp*/

@keyframes pencil {
    from {max-width: 5rem;}
    to {max-width: 5.15rem;}
}

.begin img {
	max-width: 5rem;
	margin: auto;
}

.begin img:hover{
	animation-name: pencil;
	animation-duration: 0.5s;

}

#main{

	text-align: center;
	padding-top: 4rem;
	height: 100vh;     /*viewport height, adapted from: https://www.lullabot.com/articles/unexpected-power-of-viewport-units-in-css*/
}

#attributes-list {
	max-width: 12rem;
}

.attribute {
	border: 1.2px #5dc5c5;
	border-style: dotted;
	display: flex;
	flex: 2 2 10em;
	margin: 1rem 0 1rem 0;
	padding-left: 0.5rem;
	text-align: left;
}

.attribute p {
	font-size: 0.9rem;
}

.product-img {
	max-width: 15rem;
}




/* Navigation flex-box styling adapted from: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.navigation {
  list-style: none;
  margin: 0;
  background: rgb(93,197,197);

	-webkit-box-shadow: 0 4px 5px -3px #888;    /* one-sided shadow property. sourced from: https://stackoverflow.com/questions/5115427/how-can-i-add-a-box-shadow-on-one-side-of-an-element */
				 box-shadow: 0 4px 5px -3px #888;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1rem 4rem;
  color: white;
	font-size: 1rem;
	margin: 0;
}

.navigation a:hover, a:active, a:focus{
  background: rgb(73,177,177);
	transition: 0.5s;
}

.navigation a:hover{
	width: 5%;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}


@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.contact-item1 {
	margin:0;
  padding: 5rem 5rem 2rem 5rem;
  width: 30rem;
  height: auto;
  line-height: 50px;
  color: black;
  font-size: 0.85rem;
	flex: 1 1 20rem;
}

.contact-item2 {
	margin:0;
  padding: 5rem 5rem 2rem 5rem;
  width: 30rem;
  height: auto;
  line-height: 50px;
  color: black;
  font-size: 0.85rem;
	flex: 2 2 10rem;
}

#profile{
  padding: 8rem 0 5rem 0;
	font-size: 1rem;
}

.profile-left{
  min-width: 20rem;
  max-width: 30rem;
}
.profile-left img{
  height: auto;
  width:60%;
}

#description{
  display: inline-block;
  padding: 1rem 4rem;
}

.profile-right{
  display: inline-block;
  padding: 5rem 0;
}

#catalogue {

  padding: 10rem 0 8rem 0;
	margin-bottom: 4rem;

}

#catalogue img {

   padding: 2rem;
	 max-width: 10rem;
	 height: auto;

}

#catalogue figcaption {
	font-size: 0.8rem;
}

#catalogue li:hover {
	background-color: #f9f9f9;
}

#catalogue a {
	text-decoration: none;
	color: black;
}

#catalogue a:hover {
	text-decoration: none;
	color: black;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.red{
  color: rgb(250, 0, 0);
  font-size: 0.85rem;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #5dc5c5;
    color: white;
    padding: 0.1rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
	  margin: 0.5rem;

}

.form-button {
	background-color: #5dc5c5;
	color: white;
	padding: 0.1rem 1rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin: 0.5rem;
}

.form-button:hover {

	text-decoration: none;
	background-color:#2eaa9c;
	color: white;
}

input[type=submit]:hover {
    background-color:#2eaa9c;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-1 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-2 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-3 {
	padding: 1rem;
	float: left;
	width: 100%;
	margin-top: 6px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media all and (max-width: 600px) {
    .col-1, .col-2, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

}

	line-height: 20px;
.event-item {
	background: rgb(240, 240, 240);
  padding: 5rem;
  width: 40%;
  height: auto;
  margin: 3rem 2rem;
  line-height: 1.5rem;
  color: black;
  font-size: 0.85rem;
}

.event-item img{
	width: 100%;
	height: auto;
	padding: 2rem 0;
	}

	#event-button{
		margin: 3rem 0;
	}

.about-item{
	text-align: center;
	padding: 2rem;
	margin: 5rem;
	font-size: 1rem;
	background: rgb(240, 240, 240);
	width: 100%;
}

.about-item h3{
	font-size: 1.5rem;
	padding: 2rem;
	}

.about-item img{
	width: 30%;
	margin: 0 auto;
}

.thanks-item{
	width: 60%;
	padding: 4rem 2rem;
}

.thanks-item h3{
	font-size: 1.75rem;
	padding-top: 2rem;
	padding-bottom: 4rem;
}

.thanks-item #thanks-button{
	margin: 5rem 0;


}

.footer p {
	font-size: 0.7rem;

}
