
body {
	font-family: Arial, Verdana, sans-serif;
	margin: 0;
	font-size: 1.25rem;
}

html {
		 scroll-behavior: smooth;
	 }   /* adapted from: https://stackoverflow.com/questions/17631417/css-pure-css-scroll-animation/17633941#17633941*/

h1 {
	font-size: 3rem;
  color: white;
	background-color: #d17baa;
	margin: 0;
	padding: 1rem 0 0 1rem;
}

h2 {
	font-size: 2.25rem;
	margin-bottom: 0;
	width: 100%;
}

h3 {
	font-size: 1.6rem;
	margin-bottom: 0;
}


img {
	height: auto;
	max-width: 100%;
	border: none;
}

figure {
	margin: 0;
}

figcaption {
	font-size: 0.8rem;
}

a {
	color: rgb(200,0,0);
	transition: color 0.5s;
	text-decoration: none;
}

a:active, a:hover, a:focus {
	color: rgb(50,0,0);
	text-decoration: none;
}

.intro {
text-align: center;
margin-top: 5rem;
padding: 4rem;
margin-bottom: 13.5rem;
}

.begin {
	text-align: center;
	margin-bottom: 1rem;

}

.begin p {
	color: black;
	font-size: 1.7rem;
}

/*adapted from: https://www.w3schools.com/css/css3_animations.asp*/

@keyframes pencil {
    from {max-width: 5rem;}
    to {max-width: 5.15rem;}
}

.begin img {
	max-width: 5rem;
	margin: auto;
}

.begin img:hover{
	animation-name: pencil;
	animation-duration: 0.5s;

}



#main{

	text-align: center;
	padding-top: 5rem;
	height: 100vh;     /*viewport height, adapted from: https://www.lullabot.com/articles/unexpected-power-of-viewport-units-in-css*/
}

#attributes-list {
	max-width: 12rem;
}

.attribute {
	border: 10px #d17baa;
	border-style: dotted;
	display: flex;
	align-items: stretch;
	margin: 1rem 0 1rem 0;
}


/* Navigation flex-box styling adapted from: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.navigation {
  list-style: none;
  margin: 0;
  background: #d17baa;

	-webkit-box-shadow: 0 4px 5px -3px #888;    /* one-sided shadow property. sourced from: https://stackoverflow.com/questions/5115427/how-can-i-add-a-box-shadow-on-one-side-of-an-element */
				 box-shadow: 0 4px 5px -3px #888;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(#d17baa, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}


@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }


  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
