
body {
	font-family: 'Open Sans', Verdana, sans-serif;
	margin: 0;
	font-size: 1.25rem;
}

html {
		 scroll-behavior: smooth;
	 min-height: 100%;
	 }   /* adapted from: https://stackoverflow.com/questions/17631417/css-pure-css-scroll-animation/17633941#17633941*/

h1 {
	font-size: 3rem;
  color: white;
	background-color: #5dc5c5;
	margin: 0;
	padding: 1rem 0 0 1rem;
}

h2 {
	font-size: 2.25rem;
	margin-bottom: 0;
	width: 100%;
}

h3 {
	font-size: 1rem;
	margin-bottom: 0;
}


img {
	height: auto;
	max-width: 100%;
	border: none;
}

figure {
	margin: 0;
}

figcaption {
	font-size: 0.8rem;
}

a {
	color: rgb(0,0,200);
	transition: color 0.5s;
	text-decoration: none;
}

a:active, a:hover, a:focus {
	color: rgb(0,0,70);
	text-decoration: none;
}

.intro {
text-align: center;
margin-top: 7rem;
padding: 4rem;
margin-bottom: 8.5rem;
}

.intro p {
	padding: 0 5rem 0 5rem;
}

textarea {
	height: 25rem;

}

.begin {
	text-align: center;
	margin-bottom: 1rem;

}

.begin p {
	color: black;
	font-size: 1.7rem;
}

/*adapted from: https://www.w3schools.com/css/css3_animations.asp*/

@keyframes pencil {
    from {max-width: 5rem;}
    to {max-width: 5.15rem;}
}

.begin img {
	max-width: 5rem;
	margin: auto;
}

.begin img:hover{
	animation-name: pencil;
	animation-duration: 0.5s;

}

#main{

	text-align: center;
	padding-top: 4rem;
}

#attributes-list {
	max-width: 12rem;
}

.attribute {
	border: 1.2px #5dc5c5;
	border-style: dotted;
	display: flex;
	flex: 2 2 10em;

	margin: 1rem 0 1rem 0;
	padding-left: 0.5rem;
	text-align: left;
}

.attribute p {
	font-size: 0.9rem;
}

.product-img {
	max-width: 15rem;
}

.logo{
	width: 3%;
	margin-left: 2rem;
}

.navigation-item{
  text-decoration: none;
  padding: 0.75rem 2rem;
	color: black;
	font-size: 1rem;
	margin: 0;
	width: 8%;
	text-align: center;
	border-bottom: 0 solid rgb(93, 197, 197);
}

.navigation-item a:active, a:focus, a:hover{
	border-bottom: 0.3rem solid rgb(93, 197, 197);
	transition: 0.5s;
}

.contact-item1 {
	margin:0;
  padding: 5rem 5rem 2rem 5rem;
  width: 30rem;
  height: auto;
  line-height: 50px;
  color: black;
  font-size: 0.85rem;
	flex: 1 1 20rem;
}

.contact-item2 {
	margin:0;
  padding: 5rem 5rem 2rem 5rem;
  width: 30rem;
  height: auto;
  line-height: 50px;
  color: black;
  font-size: 0.85rem;
	flex: 2 2 10rem;
}

.profile-left {
  width:40%;
	margin: 2rem;
	text-align: center;
}

.profile-left img{
	width: 90%;
	height: auto;
}

.profile-right{
	background: rgb(240, 240, 240);
	width: 40%;
	margin: 2rem;
	padding: 4rem 6rem 2rem 6rem;
	font-size: 0.85rem;
}

.profile-right h3{
	font-size: 1rem;
	margin-bottom: 2rem;
}

.profile-right .form-button{
	float: right;
	margin: 1rem 0;
}

.saved-item{
	width: 15%;
	height: 50%;
	margin: 0 5rem 5rem 5rem;
	text-align: center;
	padding: 1rem 0;
	text-decoration: none;
	color: black;
}

.catalogue-icon {
	width: 33.3%;
}



/*Adapted from: https://codepen.io/nxworld/pen/ZYNOBZ*/
.saved-item img{
	width: 100%;
-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.saved-item img:hover {
	background: rgb(240, 240, 240);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

.saved-container a:hover, a:active, a:focus{
	border-color: rgba(0, 0, 0, 0.2);
	transition: 0.7s;
}

.grey{
	color: rgb(190, 190, 190);
}

#catalogue {

  padding: 10rem 0 8rem 0;
	margin-bottom: 4rem;
}


#catalogue img {

   padding: 2rem;
	 max-width: 10rem;
	 height: auto;

}

#catalogue figcaption {
	font-size: 0.8rem;
}

#catalogue li:hover {
	background-color: #f9f9f9;
}

#catalogue a {
	text-decoration: none;
	color: black;
}

#catalogue a:hover {
	text-decoration: none;
	color: black;
}

.hidden-icon {
	display: none;
}

#label-form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.red{
  color: rgb(250, 0, 0);
  font-size: 0.85rem;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #5dc5c5;
    color: white;
    padding: 0.1rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
	  margin: 0.5rem;

}

.form-button {
	background-color: #5dc5c5;
	color: white;
	padding: 0.1rem 1rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin: 3rem 1rem;
}

.form-button:hover {

	text-decoration: none;
	background-color:#2eaa9c;
	color: white;
}

input[type=submit]:hover {
    background-color:#2eaa9c;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-1 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-2 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-3 {
	padding: 1rem;
	float: left;
	width: 100%;
	margin-top: 6px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

}

.description  {
	line-height: 0.5rem;
}

.event-container h2 {
	margin: 1rem 0 0 5.5rem;
}

.event-description{
	text-align: center;
	font-size: 1rem;
	line-height: 2rem;
	width: 55%;
	margin: 8rem auto 0 auto;
}

.event-description h3{
	font-size: 1.5rem;
	margin: 2rem 2rem 4rem 2rem;
}

.event-item {
	background: rgb(240, 240, 240);
  padding: 3rem 4rem 1rem 4rem;
  width: 40%;
  height: auto;
  margin: 3rem 1rem 2rem 1rem;
  line-height: 1.5rem;
  color: black;
  font-size: 0.95rem;
}

.event-item h3{
	font-size: 1.5rem;
}

.event-item img{
	width: 100%;
	height: auto;
	padding: 2rem 0;
	}

.event-container h2{

	margin: 4rem 0 2rem 8rem;

}
	#event-button{
		margin: 3rem 0;
	}

.thanks-item{
	width: 60%;
	padding: 4rem 2rem;
}

.thanks-item h3{
	font-size: 1.75rem;
	padding-top: 2rem;
	padding-bottom: 4rem;
}

.thanks-item #thanks-button{
	margin: 5rem 0;
}

.about-description{
		background: rgb(240, 240, 240);
		padding: 3rem;
		width: 70%;
		text-align: center;
		margin: 2rem auto;
}
.about-item{
	text-align: center;
	line-height: 2rem;
	padding: 2rem;
	margin: 5rem 0;
	font-size: 1rem;
}

.about-item img{
	width: 25%;
	margin-top: 2rem;
}

.about-item h3{
	font-size: 1.5rem;
}

.footer-item{
	font-size: 0.7rem;
	background: rgb(240, 240, 240);
	text-align: center;
	width: 100%;
	padding: 0.5rem;
	margin-top: 5rem;
}
