body{
  font-family: 'Open Sans', sans-serif;
  margin:0;
}

#profile{
  padding: 8rem 2rem 5rem 2rem;
}

.profile-left{
  min-width: 20rem;
  max-width: 30rem;

}
.profile-left img{
  height: auto;
  width:60%;
}

#description{
  display: inline-block;
  padding: 1rem 4rem;
}

.profile-right{
  display: inline-block;
  padding: 1rem;
}

.navigation {
  list-style: none;
  margin: 0;
  background: rgb(200, 200, 200);

	-webkit-box-shadow: 0 4px 5px -3px #888;    /*sourced from: https://stackoverflow.com/questions/5115427/how-can-i-add-a-box-shadow-on-one-side-of-an-element */
				 box-shadow: 0 4px 5px -3px #888;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: white;
}

.navigation a:hover {
  background: darken(#d17baa, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }


  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.red{
  color: rgb(250, 0, 0);
  font-size: 0.85rem;
}

.bottom-item {
  padding: 1rem;
  width: 200px;
  height: 100px;
  margin: 0;

  line-height: 10px;
  color: black;
  font-weight: bold;
  font-size: 0.75rem;
}
