*, *::after, *::before{
  box-sizing: border-box;
  }

  .navigation {
  	width:50%;
  	margin: 0;

  	display: -webkit-flex;
  	display: -ms-flex;
  	display: flex;

  	-webkit-flex-wrap: wrap;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;

  	-webkit-justify-content: center;
  	-ms-justify-content: center;
  	justify-content: center;
  }

.box-item-nav{
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.box{
display: -webkit-flex;
display: -ms-flex;
display: flex;

-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;

-webkit-justify-content: center;
-ms-justify-content: center;
justify-content: center;

text-align: center
}

.all{
display:flex;
display:-webkit-flex;
display:-ms-flex;

-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;

-webkit-justify-content: center;
-ms-justify-content: center;
justify-content: center;

}

.block{
  flex-grow: 1;
  flex-basis: 5em;

  -webkit-flex: 1 1 1000px;
  -ms-flex: 1 1 1000px;
  flex: 1 1 1000px;

  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.nav-box{
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
