*, *::after, *::before{
  box-sizing: border-box;
  }


.box-item-nav{
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.box{
display: -webkit-flex;
display: -ms-flex;
display: flex;

-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;

-webkit-justify-content: space-around;
-ms-justify-content: space-around;
justify-content: space-around;

text-align: center
}

.all{
display:flex;
display:-webkit-flex;
display:-ms-flex;

-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

.block{
  flex-grow: 1;
  flex-basis: 5em;

  -webkit-flex: 1 1 1000px;
  -ms-flex: 1 1 1000px;
  flex: 1 1 1000px;

  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

.nav-box{
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
